.cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.dark {
  color: #ffffff;
  width: 100%;
  max-width: 1150px;
  background-color: #111441;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 20px 5px #00000011;
  margin-bottom: 50px;
  border-top: 2px inset #00000035;
}

.coverContainer {
  width: 100%;
  max-width: 1150px;
  height: 350px;
  background: linear-gradient(to top, #c037ff31, #ff983731),
    url("../../assets/imgs/blockchain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-transition: filter 1s ease;
  -moz-transition: filter 1s ease;
  -o-transition: filter 1s ease;
  transition: filter 1s ease;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  filter: saturate(130%);
  box-shadow: 0px -8px 20px 2px #00000011;
}

.coverHeader {
  margin: 20px;
}

.coverFooter {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.extensionContainer {
  display: flex;
  width: 580px;
}

.extensionContainer button {
  display: flex;
  width: 100%;
}

.extensionContainer button > span {
  font-size: 17px;
}

.metamask {
  margin-right: 25px;
  border: 0.5px solid #111441;
  align-items: center;
  justify-content: center;
  font-size: 18;
  font-weight: 600;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: 1px 1px 1rem #ff8d4c, -1px -1px 1rem #111441;
}

.twitch {
  border: 0.5px solid #111441;
  align-items: center;
  justify-content: center;
  font-size: 18;
  font-weight: 600;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: 1px 1px 1rem #c751fd, -1px -1px 1rem #111441;
}

.orange {
  background-color: #ff8d4c;
}

.purple {
  background-color: #c751fd;
}

.orange:hover {
  background-color: #ff7322;
  box-shadow: 1px 1px 1rem #111441, -1px -1px 1rem #ff7322;
}

.purple:hover {
  background-color: #b923ff;
  box-shadow: 1px 1px 1rem #111441, -1px -1px 1rem #b923ff;
}

.orange:active {
  box-shadow: inset 0.5px 0.5px 1rem #111441, -0.5px -0.5px 1rem #ff7322;
}

.purple:active {
  box-shadow: inset 0.5px 0.5px 1rem #111441, -0.5px -0.5px 1rem #b923ff;
}

.promoted i {
  cursor: pointer;
}

.promoted i:active {
  color: #7828c8;
}

.gold {
  border: 3px double rgba(100, 100, 100, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gold;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.silver {
  border: 3px double rgba(100, 100, 100, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: silver;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.bronze {
  border: 3px double rgba(100, 100, 100, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cd7f32;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
